* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #04000a;
  color: #fff;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 64px 24px;
}

.search-user {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.search-user input, .search-user button {
  padding: 16px 24px;
  border: 1px solid #999;
  font-size: 16px;
}
.search-user input {
  width: 50%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-user button {
  cursor: pointer;
  position: relative;
  border-left: 1px solid transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -1px;
  background: #ccc;
}

.list-repo {
  padding: 24px 64px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
}
.list-repo li {
  background: #36333b;
  height: 100px;
  padding: 16px;
  border: 1px solid #4f4d54;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.list-repo li a {
  color: #C9380B;
}
.list-repo li a:hover {
  color: #d4603c;
}
.list-repo li a:visited {
  color: #df886d;
}
.list-repo li:hover {
  box-shadow: 0 5px 10px #0002;
}

.data-user {
  display: flex;
  flex-flow: row;
  color: #fff;
}
.data-user .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}
.data-user .user {
  color: #fff;
}
.data-user .subtitle {
  font-size: 16px;
  margin-top: 4px;
  color: #fff7;
  font-weight: 300;
}

.hide {
  display: none;
}
